GitPython
Pillow
accelerate

blendmodes
clean-fid
einops
facexlib
fastapi>=0.90.1
gradio==3.41.2
inflection
jsonmerge
kornia
lark
numpy
omegaconf

piexif
psutil
pytorch_lightning
requests
resize-right

safetensors
scikit-image>=0.19
tomesd
torch
torchdiffeq
torchsde

clip

#CivitAI
send2trash
ZipUnicode
bs4
pysocks
beautifulsoup4

# ControlNet
rich

#ADetailer
ultralytics

fvcore
mediapipe>=0.10.13